.edit-profile-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.edit-profile-card {
  width: 450px;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.input-profile {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.avatar-section {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-preview {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.avatar-placeholder {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ddd;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-btn {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1da94f;
}