.nav {
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #06290f;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 4px 18px rgba(0,0,0,0.3);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  color: #22c55e;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  gap: 10px;
}

.logo-icon {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0 0 6px rgba(34,197,94,0.5));
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 26px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.25s;
}

.nav-links a:hover {
  color: #22c55e;
}

.nav-right {
  display: flex;
  gap: 14px;
}

.login-btn {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-btn {
  background: #22c55e;
  padding: 8px 14px;
  border-radius: 8px;
  color: #06290f;
  font-weight: 800;
  text-decoration: none;
}